.top{
  font-size: 15px;
  color: rgb(95, 95, 95);
  text-align: left;
  font-family: Arial;
  margin-bottom: 10px;
}

.search-bar{
  border-color: rgb(95, 95, 95);
  border-width: 2px;
  width: 200px;
  font-size: 16px;
  border-style: bold;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 5px;
  margin-bottom: 15px;

}

.undertext{
  font-size: 15px;
  color: rgb(78, 78, 78); 
  margin-bottom: 20px;
}

.but{
  color:white;
  font-style: Arial;
  font-weight: bold;
  background-color: rgb(61, 61, 191);
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 12px;
  padding-top: 12px;
  border-radius: 20px;
  cursor: pointer;
}